recursive-include mediacoreext/youtube_import *.html
recursive-include mediacoreext/youtube_import *.pot
recursive-include mediacoreext/youtube_import *.po
recursive-include mediacoreext/youtube_import *.mo
